<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curso Basico Vue.js</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
    <div id="app">
        <!-- v-show (hide element) es igual a v-if (delete element) -->
            <h1 v-if="message.length > 0">Hola <span v-text="message"></span></h1>
            <h2 v-else>Por favor ingrese su nombre</h2>
            <input type="text" v-model="message">
            <hr>
            <h2>Lista de tareas</h2>
            <ul>
                <li v-for="tarea in tareas">
                    <span v-text="tarea.title"></span>
                    <span v-if="tarea.completed">  Completa</span>                  
                    <span v-else>  Incompleta</span>                  
                </li>
            </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: "",
                tareas: [
                    {
                        title: "Aprender Laravel",
                        completed: false,
                    },
                    {
                        title: "Aprender Vue",
                        completed: false,
                    },
                    {
                        title: "Aprender Angular",
                        completed: false,
                    }
                ]
            }
        });
    </script>
</body>
</html>